{% extends "admin/layout.html" %}


{% block content %}

    <div class="row">
        <form method="post" action="/admin/exemplaire/add">

                <fieldset>
                    <legend>Ajouter un Exemplaire
                    </legend>
                    <h3>Titre: <strong style='color: brown'> {{ oeuvre.titre }} </strong>, Auteur :<strong style='color: blueviolet'> {{ oeuvre.nom }}</strong></h3>
                    <label>Etat</label>
                    <!--            <input name="etat"  type="text"  size="18" value="NEUF"/>'BON','MOYEN','MAUVAIS','NEUF'<br>-->
                    
                    <input type="radio" name="etat" value="NEUF">  NEUF -
                    <input type="radio" name="etat" value="BON"> BON -
                    <input type="radio" name="etat" value="MOYEN"> MOYEN -
                    <input type="radio" name="etat" value="MAUVAIS"> MAUVAIS <br>
                    {% if erreurs.etat is defined %}
                        <small class="error">{{erreurs.etat}}</small>
                    {% endif %}


                    <label>Date Achat </label>
                    <input name="date_achat"  type="text"  size="18" value="{{ donnees.dateAchat }}" >
                    {% if erreurs.dateAchat is defined %}
                        <small class="error">{{erreurs.dateAchat}}</small>
                    {% endif %}

                    <label>Prix </label>
                    <input name="prix"  type="text"  size="18" value="{{ donnees.prix }}"/>

                    {% if erreurs.prix is defined %}
                        <small class="error">{{erreurs.prix}}</small>
                    {% endif %}

                    <!-- champ caché avec l'id pour conserver la valeur de l'id lors de la validation !-->
                    <input name="id_oeuvre"  type="hidden" value="{{ oeuvre.id_oeuvre }}"/>

                    <input type="submit" name="AddExemplaire" value="Ajouter" />
                </fieldset>
                    
         </form>
    </div>

{% endblock %}